/*mystyle.css */

#color {
  background-color: lightgrey;
}
a:hover {
  background-color: dodgerblue;
}
a:active {
  color:red;
}
.nav:visited {
  color: white;
}
img {
  width: 600px;
  height: 400px;
  border: red 4px solid;
}
h1 {
  color: darkblue;
  font-style: normal;
  font-size: 4vw;
  font-weight: 600;
  font-family: "Georgia", serif;
  text-decoration: none;
}
h2 + p {
  background-color: lightgrey;
}
h1 ~ p {
  background-color: lightgrey;
}
h1 > p {
  background-color: lightgrey;
}
