/*mystyle.css */

body p {
  display: inline;
}
.nav {
  display: inline;

}
#center {
  text-align: center;
}
img {
  height: 400px;
  width: 600px;
  border-radius: 20px;
  border: 10px dashed blue;
}

body {
  background-color: lightgrey;
}

a:hover {
  background-color: dodgerblue;
}
a:visited {
  color: white;
}
a:active {
  color:red;
}
h1 {
  color: darkblue;
  font-style: normal;
  font-weight: 600;
  font-family: "Veranda", sans-serif;
}
* {
  color: black;
}
a[href="./index.html"] {
  color: blue;
}
a[href="./Page 2.html"] {
  color: red;
}
a[href="./Page 3.html"] {
  color: blue;
}
a[href="./Page 4.html"] {
  color: red;
}
