/*mystyle.css */

h1 {
  font-style: normal;
  font-size: 4vw;
  font-weight: 600;
  font-family: "Times New Roman", serif;
}
.list {
  font-weight: bold;
}
#border {
  border: white 2px solid; 
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: lightgrey;
}
a:hover {
  background-color: dodgerblue;
}
a:active {
  color:red;
}
.nav:visited {
  color: white;
}
img {
  width: 600px;
  height: 400px;
}

